.table_data {
    color: #feda4a;
    border: 2px solid #feda4a;
    width: 50%;
    padding: 20px;
  }
  
  .table {
    border-collapse: collapse;
    color: #feda4a;
    border: 2px solid #feda4a;
    padding: 2px;
  }

  
  
  