@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
 
  padding: 20px;
}


/* .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
} */



table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}
.flexup{
  display: flex;

}

.box{
  width: 50%;
  padding: 20px;
}

.bar{
  border: 1px solid black;
  background-color: #EEEEEE;
}

.chart{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}


.pageLoading{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #0dc5a6;
  background: -moz-linear-gradient(left, #0dc5a6 10%, rgba(13,197,166, 0) 42%);
  background: -webkit-linear-gradient(left, #0dc5a6 10%, rgba(13,197,166, 0) 42%);
  background: -o-linear-gradient(left, #0dc5a6 10%, rgba(13,197,166, 0) 42%);
  background: -ms-linear-gradient(left, #0dc5a6 10%, rgba(13,197,166, 0) 42%);
  background: linear-gradient(to right, #0dc5a6 10%, rgba(13,197,166, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #0dc5a6;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



