@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* @import url('https://allfont.net/allfont.css?fonts=star-jedi'); */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #feda4a;;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://media.istockphoto.com/videos/night-starry-skies-with-twinkling-stars-motion-background-looping-video-id1204969069?b=1&k=20&m=1204969069&s=640x640&h=-QZJL3uz7F5SeFTZKtYuzvOaryOE6X63KtWFeErTty8=');
}


